@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  .lightPink  {
    --background: 292.2 100% 95%;
    --foreground: 292.2 5% 0%;
    --card: 292.2 50% 90%;
    --card-foreground: 292.2 5% 10%;
    --popover: 292.2 100% 95%;
    --popover-foreground: 292.2 100% 0%;
    --primary: 292.2 84.1% 60.6%;
    --primary-foreground: 0 0% 0%;
    --secondary: 292.2 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 254.2 30% 85%;
    --muted-foreground: 292.2 5% 35%;
    --accent: 254.2 30% 80%;
    --accent-foreground: 292.2 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 292.2 5% 90%;
    --border: 292.2 30% 50%;
    --input: 292.2 30% 18%;
    --ring: 292.2 84.1% 60.6%;
    --radius: 0.5rem;
  }
  .darkPink  {
    --background: 292.2 50% 5%;
    --foreground: 292.2 5% 90%;
    --card: 292.2 50% 0%;
    --card-foreground: 292.2 5% 90%;
    --popover: 292.2 50% 5%;
    --popover-foreground: 292.2 5% 90%;
    --primary: 292.2 84.1% 60.6%;
    --primary-foreground: 0 0% 0%;
    --secondary: 292.2 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 254.2 30% 15%;
    --muted-foreground: 292.2 5% 60%;
    --accent: 254.2 30% 15%;
    --accent-foreground: 292.2 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 292.2 5% 90%;
    --border: 292.2 30% 18%;
    --input: 292.2 30% 18%;
    --ring: 292.2 84.1% 60.6%;
    --radius: 0.5rem;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .lightT {
    --background: 169 44% 100%;
    --foreground: 169 64% 3%;
    --muted: 169 29% 86%;
    --muted-foreground: 169 4% 28%;
    --popover: 169 44% 100%;
    --popover-foreground: 169 64% 3%;
    --card: 169 44% 100%;
    --card-foreground: 169 64% 3%;
    --border: 169 9% 90%;
    --input: 169 9% 90%;
    --primary: 169 59% 46%;
    --primary-foreground: 169 59% 6%;
    --secondary: 169 18% 89%;
    --secondary-foreground: 169 18% 29%;
    --accent: 169 18% 89%;
    --accent-foreground: 169 18% 29%;
    --destructive: 10 80% 29%;
    --destructive-foreground: 10 80% 89%;
    --ring: 169 59% 46%;
    --radius: 0.5rem;
  }

  .darkT {
    --background: 169 56% 3%;
    --foreground: 169 18% 97%;
    --muted: 169 29% 14%;
    --muted-foreground: 169 4% 72%;
    --popover: 169 56% 3%;
    --popover-foreground: 169 18% 97%;
    --card: 169 56% 3%;
    --card-foreground: 169 18% 97%;
    --border: 169 9% 12%;
    --input: 169 9% 12%;
    --primary: 169 59% 46%;
    --primary-foreground: 169 59% 6%;
    --secondary: 169 14% 18%;
    --secondary-foreground: 169 14% 78%;
    --accent: 169 14% 18%;
    --accent-foreground: 169 14% 78%;
    --destructive: 10 80% 59%;
    --destructive-foreground: 0 0% 0%;
    --ring: 169 59% 46%;
    --radius: 0.5rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }


  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
  .blue {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chartt: 12 76% 61%;
    --charttt: 173 58% 39%;
    --chartttt: 197 37% 24%;
    --charttttt: 43 74% 66%;
    --chartttttt: 27 87% 67%;
  }
  .purple{
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .red{
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}



/* 
 hsl(0,0%,100%)
 hsl(240,10%,3.9%)
 hsl(0,0%,100%)
 hsl(240,10%,3.9%)
 hsl(0,0%,100%)
 hsl(240,10%,3.9%)
 hsl(142.1,76.2%,36.3%)
 hsl(355.7,100%,97.3%)
 hsl(240,4.8%,95.9%)
 hsl(240,5.9%,10%)
 hsl(240,4.8%,95.9%)
 hsl(240,3.8%,46.1%)
 hsl(240,4.8%,95.9%)
 hsl(240,5.9%,10%)
 hsl(0,84.2%,60.2%)
 hsl(0,0%,98%)
 hsl(240,5.9%,90%)
 hsl(240,5.9%,90%)
 hsl(142.1,76.2%,36.3%)
 hsl(12,76%,61%)
 hsl(173,58%,39%)
 hsl(197,37%,24%)
 hsl(43,74%,66%)
 hsl(27,87%,67%)
 hsl(20,14.3%,4.1%)
 hsl(0,0%,95%)
 hsl(24,9.8%,10%)
 hsl(0,0%,95%)
 hsl(0,0%,9%)
 hsl(0,0%,95%)
 hsl(142.1,70.6%,45.3%)
 hsl(144.9,80.4%,10%)
 hsl(240,3.7%,15.9%)
 hsl(0,0%,98%)
 hsl(0,0%,15%)
 hsl(240,5%,64.9%)
 hsl(12,6.5%,15.1%)
 hsl(0,0%,98%)
 hsl(0,62.8%,30.6%)
 hsl(0,85.7%,97.3%)
 hsl(240,3.7%,15.9%)
 hsl(240,3.7%,15.9%)
 hsl(142.4,71.8%,29.2%)
 hsl(220,70%,50%)
 hsl(160,60%,45%)
 hsl(30,80%,55%)
 hsl(280,65%,60%)
 hsl(340,75%,55%)
 */





@layer base {
  * {
    @apply border-border;
  }
  body {
    /* @apply bg-background text-foreground; */
  }
}


